API_VERSION="0.0.1"
GOOGLE_OAUTH_CLIENT_ID=""
GOOGLE_OAUTH_CLIENT_SECRET=""
SESSION_SECRET=""
REDIS_HOST="redis"
REDIS_PORT=6379
FRONTEND_URL=""
COOLDOWN_SEC=60
ENVIROMENT="dev"
OTEL_ENABLED=false
OTEL_EXPORTER_OTLP_ENDPOINT=""
OTEL_TRACES_SAMPLER_ARG=1
OTEL_METRIC_EXPORT_INTERVAL_MS=15000
OTEL_PYTHON_FASTAPI_EXCLUDED_URLS="health/live,health/ready"