{
	order rate_limit before basic_auth
}

{$SITE_ADDRESS:http://localhost} {
	header {
		Strict-Transport-Security "max-age=31536000; includeSubDomains"
		X-Content-Type-Options nosniff
		Referrer-Policy strict-origin-when-cross-origin
		X-Frame-Options DENY
		Content-Security-Policy "default-src 'none'; frame-ancestors 'none'"
		-Server
	}

	rate_limit {
		zone dynamic_zone {
			key {http.request.remote_ip}
			events 30
			window 15s
		}
	}

	reverse_proxy api:8000
}
